<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html>

<head th:fragment="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
 .alignment {
            margin-top: 80px;
        }
 .table-alignment {
            margin-left: -275px;
        }

  th, td {
        white-space: nowrap;
        }

    </style>
</head>
<body>
</body>
</html>